// COLORS
$color-primary: #0d6efd;
$color-primary-light-1: #9ec5fe;
$color-primary-light-2: #6ea8fe;
$color-primary-light-3: #3d8bfd;
$color-primary-dark-1: #0a58ca;
$color-primary-dark-2: #084298;
$color-primary-dark-3: #052c65;
$color-primary-dark-4: #031633;

$color-red: #dc3545;
$color-red-light-1: #f1aeb5;
$color-red-light-2: #ea868f;
$color-red-light-3: #e35d6a;
$color-red-dark-1: #b02a37;
$color-red-dark-5: #842029;
$color-red-dark-3: #58151c;
$color-red-dark-4: #2c0b0e;

$color-grey: #adb5bd;
$color-grey-light-1: #F6F8FCFF;
$color-grey-light-2: #dee2e6;
$color-grey-light-3: #ced4da;
$color-grey-dark-1: #6c757d;
$color-grey-dark-2: #495057;
$color-grey-dark-3: #343a40;
$color-grey-dark-4: #212529;

$color-white: #ffffff;
$color-black: #000000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;